.App {
  text-align: center;
  min-height: 500px;
}

.SightingsBoard {
  min-height: 490px;
  background-color: #61dafb;
}

.sighting {
  display: grid;
  min-height: 5vh;

  grid-template-rows: 25% 75%;
  grid-template-columns: 25% 25% 25% 25%;
}

.sightingdate {
  grid-row: 1;
  grid-column: span 4;
}

.individuals {
  display: grid;

  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.individuals h3 {
  grid-row: 1;
  grid-column: span 4;
}