doctype html 
html(lang="en")
    head
        title Flash Cards
    body
        header
            h1 Flash Cards
        section#content
            h2= prompt
            if hint
                p 
                    i Hint: #{hint}
        footer 
            p For helping you study