extends layout

block nav
    nav
        div#currentUser
                p
                    i Logged in as...
                img.loggedInAvatar(src="graphics/defaultavatar1.png")
                h6.navUser Blue