html {
    background-color: darkslategray;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/* SCROLLBAR EDITS */
::-webkit-scrollbar {
  	width: 1vw;
	background: rgb(224,200,113, .5);
	background-image: linear-gradient(rgba(82, 4, 0, 1),rgba(92, 169, 173, 1));
	background-blend-mode: normal, darken;
	background-size: cover;
}

::-webkit-scrollbar-thumb {
	background-color: #8C7627;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #FACB06;
}


body {
    max-width: 100%;

    background-color: rgba(54, 54, 54, 1);
}

.navbar-brand img {
    max-width: 2.5em;
}

#wrapper {
    display: block;
    box-sizing: border-box;
    max-width: 90%;
    margin: auto;
    padding: 1em;
    
    border-style: dotted;
    border-width: 1px;
    
    background-color: #32948F;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .5);
}

#header {
    display: block;
    box-sizing: border-box;
    margin: auto;
}

pagetitle {
    font-size: 6em;
    font-family: ht-neon, sans-serif;
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
    
    color: floralwhite;
    text-shadow: 0em 0em .075em #8C633F;
}

h2 {
    font-family: vaccine, serif;
    font-weight: 400;
    font-style: normal;
}

#about {
    display: block;
}
#profilepic {
    display: block;
    max-width: 500px;
    margin: auto;
    
    clip-path: circle(40%);
}

#contact {
    max-width: 70%;
}

.soc-button {
    margin: auto;
}

.soc-button img{
    max-width: 3em;
}

#footer {
    display: block;
    box-sizing: border-box;
    max-width: 90%;
    margin: auto;
    padding: .5em;
    
    text-align: center;
    background: darkslategrey;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .5);
}

@media screen(min-width: 700px){
    
    #about {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    #profilepic {
        box-sizing: border-box;
        float: left;
        
        grid-column: 1;
    }
    
    #profiletext {
        grid-column: 2;
    }
    
}