body {
    background: url(images/vegetable-pattern.png) repeat center;
    
    font-family: 'monarcha', serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategray;
}

#wrapper {
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 1% 2.5%;
    width: auto;
    height: auto;
    max-width: 95%; 
    padding: 1em;
    
    background-color: rgb(255, 229, 204, 0.95);
    
    border-radius: 1em 1em 1em;
    box-shadow: rgba(0, 0, 0, .5) .5em .5em .5em;
}


#hero {
    display: block;
    padding: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 75%;
    border-radius: 1em 1em 1em;
    
    box-shadow:rgba(0, 0, 0, .5) .25em .25em .5em;

}

#recipetitle {
    margin: .5em auto .25em auto;
    height: 1em;
    max-width: 90%;
    
    font-family: gloss-drop, cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    
    line-height: 1em;
    text-align: center;

    -webkit-text-fill-color: transparent;
    background: url(images/finished.png);
    -webkit-background-clip: text;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(.025em .025em .02em rgba(0, 0 , 0, .5));

}

p {
    margin: auto;
    max-width: 75%;
    
    font-family: grandma, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.45em;
    
    text-align: center;
}

ul,
ol {
    list-style-position: outside;
    align-content: space-between;
}

ul {
    font-family: 'monarcha', serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategray;
    font-size: .8em;
}

ol {
    font-family: 'monarcha', serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategray;
    font-size: 1em;
}

li {
    padding: .25em 0em;
}

#ingredients {
    display: block;
    box-sizing: border-box;
    padding .2em;
    

    
    
} 

#instructions {
    display: block;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {

    #hero {
        
        
    }
    
    #desc {
        
    }

}